
<h1>
    Film Data
</h1>
<h4>
    Click on a row to know more details about the film
</h4>
<p-table [value]="films" [paginator]="true" [rows]="10" [responsive]="true" selectionMode="single"
    [(selection)]="selectedFilm" (onRowSelect)="onRowSelectedEvent($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Release Year</th>
            <th>Rating</th>
            <th>Special Features</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-film let-rowindex="rowIndex">
        <tr [pSelectableRow]="film">
            <td>{{film.id}}</td>
            <td>{{film.title}}</td>
            <td>{{film.description}}</td>
            <td>{{film.releaseYear}}</td>
            <td>{{film.rating}}</td>
            <td>{{film.specialFeatures}}</td>
        </tr>
    </ng-template>
</p-table>



<p-dialog header="Film Details" [(visible)]="showDialog">
    <p-accordion>
        <p-accordionTab header="Film Category">
            {{categoriesForFilm}}
        </p-accordionTab>
        <p-accordionTab header="Actors">
            <ul>
                <li *ngFor="let actor of actorsInFilm">{{ actor }}</li>
            </ul>
        </p-accordionTab>
    </p-accordion>
</p-dialog>